body{
    display: flex;
    justify-content: center;
    background-image: url("./2958657_18196.jpg");
    background-size: cover;
    /* background-position: bottom; */
    background-attachment: fixed;
}

.timer-container{
    font-size: 25px;
    color: black;
    background-color: rgba(254, 205, 69, 0.734);
    margin: 20px;
    width: 400px;
    padding: 100px;
    text-align: center;
    border-radius: 25px;
    border: 10px solid rgb(111, 38, 6);
}

button{
    background-color: chocolate;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

button:hover{
    background-color: black;
}

input{
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    font-size: 24px;
}

#timer p{
    margin: 0;
}
